/* This file is part of plata-theme Copyright (C) 2018-2019 Tista <tista.gma500@gmail.com> This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version. */
.bottom-panel { min-height: 30px; height: 2.2em; }

.window-list { font-size: 10pt; spacing: 2px; }

.window-button { padding: 1px; }

.window-button:first-child:ltr { padding-left: 2px; }

.window-button:last-child:rtl { padding-right: 2px; }

.window-button-box { spacing: 4px; }

.window-button > StWidget { -st-natural-width: 18.75em; max-width: 18.75em; padding: 3px 6px 1px; border-radius: 0; background-color: rgba(0, 0, 0, 0.01); background-gradient-drection: vertical; background-gradient-start: rgba(0, 0, 0, 0.01); background-gradient-end: rgba(0, 0, 0, 0.01); color: rgba(245, 245, 245, 0.87); box-shadow: none; text-shadow: none; }

.window-button:hover > StWidget { background-gradient-drection: vertical; background-gradient-start: rgba(245, 245, 245, 0.12); background-gradient-end: rgba(245, 245, 245, 0.12); color: #f5f5f5; box-shadow: inset 0 -2px rgba(245, 245, 245, 0.2); }

.window-button:active > StWidget, .window-button:focus > StWidget { background-gradient-drection: vertical; background-gradient-start: rgba(245, 245, 245, 0.12); background-gradient-end: rgba(245, 245, 245, 0.12); color: #f5f5f5; box-shadow: inset 0 -2px #607D8B; }

.window-button.focused > StWidget, .window-button.focused:active > StWidget { color: #f5f5f5; box-shadow: inset 0 -2px #607D8B; }

.window-button.minimized > StWidget { color: rgba(245, 245, 245, 0.54); box-shadow: none; }

.window-button.minimized:hover > StWidget { background-gradient-drection: vertical; background-gradient-start: rgba(245, 245, 245, 0.12); background-gradient-end: rgba(245, 245, 245, 0.12); box-shadow: inset 0 -2px rgba(245, 245, 245, 0.2); color: #f5f5f5; }

.window-button.minimized:active > StWidget { background-gradient-drection: vertical; background-gradient-start: rgba(245, 245, 245, 0.12); background-gradient-end: rgba(245, 245, 245, 0.12); box-shadow: inset 0 -2px #607D8B; color: #f5f5f5; }

.window-button-icon { width: 24px; height: 24px; }

.window-list-workspace-indicator { padding: 3px; }

.window-list-workspace-indicator > StWidget { border: 1px solid rgba(245, 245, 245, 0.2); background-color: rgba(0, 0, 0, 0.01); background-gradient-drection: vertical; background-gradient-start: rgba(0, 0, 0, 0.01); background-gradient-end: rgba(0, 0, 0, 0.01); color: rgba(245, 245, 245, 0.87); font-weight: 700; }

.window-list-workspace-indicator:hover > StWidget { background-gradient-drection: vertical; background-gradient-start: rgba(245, 245, 245, 0.12); background-gradient-end: rgba(245, 245, 245, 0.12); color: #f5f5f5; }

.window-list-workspace-indicator:active > StWidget, .window-list-workspace-indicator:checked > StWidget, .window-list-workspace-indicator:focus > StWidget { border: 1px solid #607D8B; background-gradient-drection: vertical; background-gradient-start: rgba(96, 125, 139, 0.2); background-gradient-end: rgba(96, 125, 139, 0.2); color: #f5f5f5; }

.notification { font-weight: 500; }
